<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="artists.css">
    <title>SUMU</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light-blue navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">SUMU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Music <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/artists">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charts">Charts</a>
            </li>
          </ul>
              <form class="form-inline my-2 my-lg-0" action="/text" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="that">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- the cards -->
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
        <% artists.forEach(function(artist){ %>
        <div class="col">
          <a href="<%= artist.artists %>"><img src="yer.jpg"></a>
          <p> <a href="<%= artist.artists %>"><%= artist.artists %></a> </p>
        </div>
        <% }); %>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>